@model BankingSystem.Models.NewUserViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           <h5>Account Number</h5>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccNo)
        </dd>
        <dt class="col-sm-2">
            <h5>Account Holder Name</h5>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccHolderName)
        </dd>
        <dt class="col-sm-2">
           <h5>Mobile Number</h5>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobNo)
        </dd>
        <dt class="col-sm-2">
           <h5>Email Id</h5>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class="col-sm-2">
           <h5>Gender</h5>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
         <h5> Date Of Birth</h5>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
           <h5>City</h5>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
      
    </dl>
</div>
<div>
    <a asp-action="NewUserDetails">Back to List</a>
</div>
