@model IEnumerable<BankingSystem.Models.NewUserViewModel>

@{
    ViewData["Title"] = "NewUserDetails";
}

<h1>All Users Details</h1>
<table     height="30px"width="1000px" >
    <tr>

        <th>
            <h3>    <a asp-action="Create"> New User</a></h3>
        </th>
        
        <th>
             <div style="text-align:right">  <a asp-action="UserLogin"><h3>Log Out</h3></a></div>
        </th>
    </tr>
    </table>

<table class="table">
    <thead>
        <tr>
            <th>
               <h5> Account Number</h5>
            </th>
            <th>
                <h5>Account Holder Name</h5>
            </th>
            <th>
                <h5>Mobile Number</h5>
            </th>
            <th>
                <h5>Email Id</h5>
            </th>
            <th>
                <h5>Gender</h5>
            </th>
            <th>
                <h5>Date Of 
                Birth</h5>
            </th>
            <th>
                <h5>City</h5>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccHolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
